* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 500px;
	min-width: 800px;
	overflow: auto;
	background: url('../content/images/swirl_pattern.png');
}
#wrap {
	display: block;
	width: 800px;
	height: 100%;
	background: rgba(170, 187, 204, .7);
	margin: 0 auto;
	overflow: auto;
}
.buttons {
	font-size: .75em;
	color: #fff;
	background: #abc;
	line-height: 30px;
	height: 40px;
	width: 150px;
	margin: 10px auto;
	border: 2px #abc solid;
}
/* delete tasks? */
.tasks {
	background: rgba(212, 219, 226, 0.75);
	width: 600px;
	margin: 40px auto;
	height: 120px;
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 1.5em;
	line-height: 120px;
}
/* button */
#getData {
	display: block;
	width: 150px;
	height: 40px;
	color: white;
	line-height: 40px;
	font: 1em sans-serif;
	background-color: rgb(124, 163, 203);
	border: 2px white solid;
	margin: 10px auto;
}
/* Task1 */
#post-form {
	background: rgba(212, 219, 226, 0.75);
	margin: 40px auto;
	margin-top: 70px;
	width: 600px;
	overflow: auto;
}
#btn-post {
	width: 100px;
}
#input-text {
	margin: 40px 33px;
	width: 400px;
	padding: 0 15px;
	background: white;
	border: 2px white solid;
}
#btn-post,
#input-text {
	height: 40px;
	font-size: 1em;
	display: inline-block;
}
#messagesContainer {
	margin: 40px auto;
	margin-top: 0;
	display: block;
	width: 540px;
	padding: 4px;
}
.success,
.errors {
	margin: 2px auto;
	display: block;
	height: 40px;
	width: 500px;
	line-height: 40px;
	text-align: center;
}
.success {
	background: rgba(0,255,0,.5);
	border: 1px green solid;
}
.errors {
	background: rgba(255,0,0,.5);
	border: 1px red solid;
}
/* Task2 */
#show {
	border-collapse: collapse;
	margin: 20px auto;
	padding: 30px;
	background: url('../content/images/table.png');
	border: 2px #bbb solid;
	display: block;
	height: 300px;
	width: 500px;
}
#show td {
	width: 150px;
}
/* style table row */
#head {
	color: rgb(91, 123, 117);
	font: 1em Verdana;
	height: 56px;
	text-align: center;
	text-decoration: underline;
}
#count{
	height: 82px;
	text-align:center;
}
#last {
	color: rgba(90, 98, 121, 0.8);
	font: 1.25em 'Roboto Condensed', sans-serif;
	height: 100px;
	text-align: center;
	vertical-align: bottom;
}
#wrapButton {
	height: 60px;
	margin: 10px auto;
	width: 170px;
}
/* flot-chart block */
.chart {
	width: 500px;
	height: 300px;
	margin: 0 auto 20px;
	background: rgb(212, 219, 226);
}
/* Task 3 */
#container {
	margin: 20px auto;
	padding: 30px;
	background: #abc;
	border: 2px #bbb solid;
	width: 500px;
}
#container  li {
	margin: 2px;
	margin-left: 30px;
}